<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
	<html class="no-js">
		<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.customExcerpt %}{{page.customExcerpt}}{% elsif  page.excerpt%}{{page.excerpt | strip_html}} | {{ site.excerpt }}{% else %}{{site.tagline}} {% endif %}">
	<link rel="icon" type="image/png" href="{{ relBase }}favicon.png">
	
	<!-- Facebook -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
	<meta property="og:description" content="{% if page.customExcerpt %}{{page.customExcerpt}}{% elsif  page.excerpt%}{{page.excerpt | strip_html}} | {{ site.excerpt }}{% else %}{{site.tagline}} {% endif %}"/>
	{% if page.img %}<meta property="og:image" content="{{ site.url }}/img/{{page.img}}"/>{% endif %}
	<meta property="og:url" content="{{ site.url }}{{page.url}}"/>
	<meta property="og:site_name" content="{{ site.title }} "/>
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.customExcerpt %}{{page.customExcerpt}}{% elsif  page.excerpt%}{{page.excerpt | strip_html}} | {{ site.excerpt }}{% else %}{{site.tagline}} {% endif %}">
	{% if page.img %}<meta name="twitter:image" content="{{ site.url }}/img/{{page.img}}"/>{% endif %}
	<meta name="twitter:url" content="{{ site.url }}{{page.url}}">
	
	<!-- CSS & fonts -->
	<!--<link href="https://fonts.googleapis.com/css?family=Livvic:400,500i&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" href="{{ relBase }}css/main.css">
	<!-- Put your fonts here -->

</head>