---
layout: default
---
{{ content }}
<article>
    <h1 class="left spacing">Featured Projects</h1>
    <div class="right spacing"><form action="{% link projects.md %}"><button>View all projects</button></form></div>
    <section class="gallery">
        {% for post in site.tags.featured limit:6 %}
        <div class="col-sm-6">
        <figure>
        <a href="{{ post.url }}"><img src="img/projects/{{ post.img }}.jpg" srcset="img/projects/{{ post.img }}.jpg 1200w, img/projects/small/{{ post.img }}.jpg 340w" sizes="(min-width: 200em) 47.5em, (max-width: 1024px) calc(100vh - 2em), calc(50vh - 2.5em)"><figcaption><h2>{{ post.title }}</h2>
            <sub>{{ post.subtitle }} {% if post.broadcaster %} ({{post.broadcaster}}){% endif %}</sub>
            <table style="text-align: left;margin:1em auto 0 auto;" class="desktoponly">  <colgroup>
                <col style="font-weight: 500;">
                <col></colgroup>
                <tr><th>{{ post.creditlabel1 }}</th><td>{{ post.credit1 }}</td></tr>
                <tr><th>{{ post.creditlabel2 }}</th><td>{{ post.credit2 }}</td></tr>
                {% if post.creditlabel3 %}
                <tr><th>{{ post.creditlabel3 }}</th><td>{{ post.credit3 }}</td></tr>
                {% endif %}
            </table></figcaption></a></figure></div>
        {% endfor %}
    </section>
</article>