<!DOCTYPE html>
{% include relBase.html %}
{% include head.html %}
	
	<body class="projects">
        {% include header.html %}
                {{ content }}
		{% include footer.html %}
  <script type="text/javascript" src="{{ relBase }}js/carousel.js"></script>
  <script type="stylesheet" src="{{ relBase }}hystmodal-0.4/hystmodal.min.css"></script>
  <script type="text/javascript" src="{{ relBase }}hystmodal-0.4/hystmodal.min.js"></script>
  <script>
  const myModal1 = new HystModal({
        linkAttributeName: "data-hystmodal",
            //settings (optional). see API
    });
    </script>
	</body>
</html>